In [2]:
#Cria um conjunto de numeros inteiros maiores ou iguais a 2 e menores que 10
set(range(2,10))

{2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
#Cria um conjunto de numeros inteiros maiores ou iguais a 9 e menores que 30
set(range(9,30,3))

{9, 12, 15, 18, 21, 24, 27}

In [4]:
#Entrada de dados
lista_animais = ['papagaio', 'onça', 'lobo', 'gavião', 'baleia']

In [5]:
#Verifica se lobo está na lista_animais
if 'lobo' in lista_animais:
    print('Lobo está no conjunto dos animais')

Lobo está no conjunto dos animais

In [9]:
#Aqui o conjunto é exibido mas a ordem é aleatória
conjunto_animais = {'papagaio', 'onça', 'lobo', 'gavião', 'baleia'}
for animal in conjunto_animais:
    print(animal)

baleia
papagaio
lobo
gavião
onça

In [10]:
#convertendo conjunto de lista ou tuplas retirando os repetidos e ordenando alfabeticamente 
cidades = ['Manaus', 'Brasília', 'Fortaleza', 'Manaus', 'Rio de Janeiro', 'Brasília', 'Fortaleza', 'Natal', 'Belo Horizonte', 'Fortaleza', 'Cuiabá', 'Rio de Janeiro']
sorted(set(cidades))

['Belo Horizonte',
 'Brasília',
 'Cuiabá',
 'Fortaleza',
 'Manaus',
 'Natal',
 'Rio de Janeiro']

In [13]:
conjunto_animais = {'papagaio', 'onça', 'lobo', 'gavião', 'baleia'}
for animal in conjunto_animais:
    print(animal)

baleia
papagaio
lobo
gavião
onça

In [14]:
lista1 = [1]
lista2 = []
conjunto = {lista1, lista2}
del lista1[0]

TypeError: unhashable type: 'list'